<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <form method="POST">
            {% csrf_token %}
            <p><label>Mật khẩu cũ :</label>{{form.old_password}}</p>
            <p><label>Mật khẩu mới:</label>{{form.new_password_1}}</p>
            <p><label>Xác nhận mật khẩu mới :</label>{{form.new_password_2}}</p>
            <input type="hidden" name="next" value="/"/>
            <input type="submit" value="Đổi mật khẩu"/>
        </form>
</body>
</html>

