<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <form method="POST">
            {% csrf_token %}
            <p><label>Tên đăng nhập: </label>{{form.username}}</p>
            <p><label>Mật khẩu: </label>{{form.password}}</p>
            <p><label>Admin </label>{{form.is_admin}}</p>
            <input type="hidden" name="next" value="/"/>
            <input type="submit" value="Đăng ký"/>
        </form>
</body>
</html>

